/* General */
body {
    font-family: 'Volkhov', serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1; /* Interlineado ajustado */
}

.cv-container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Encabezado */
.cv-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 10px;
    display: block;
}

.cv-header h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 5px 0;
    color: #000;
}

.cv-header h2 {
    font-size: 1.2em;
    color: #555;
    margin: 3px 0;
}

.cv-header p {
    font-size: 0.9em;
    color: #777;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: #555;
    margin-top: 10px;
    flex-wrap: wrap;
}

.contact-info i {
    margin-right: 5px;
}

.contact-info a {
    color: #0073b1;
    text-decoration: none;
    margin-right: 15px;
}

.contact-info a:hover {
    text-decoration: underline;
}

/* Secciones Generales */
.cv-section {
    margin-bottom: 10px;
}

.cv-section h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

/* Perfil Profesional */
.professional_profile p {
    margin: 5px 0;
}

/* Habilidades */
.skills p {
    margin: 5px 0;
    font-size: 1em;
    color: #555;
}

.skills p strong {
    color: grey;
    font-weight: bold;
}

.small-text {
    font-size: 0.9em;
}

/* Experiencia */
.job {
    margin-bottom: 8px;
}

.job-header h3 {
    color: #555;
    font-size: 1.2em;
    margin: 0;
    font-weight: bold;
}

.job-header h4 {
    margin: 5px 0;
    font-size: 1em;
    color: #888;
}

.job p {
    margin: 5px 0;
}

/* Educación */
.education-header h3 {
    color: #555;
    font-size: 1.2em;
    margin: 0;
    font-weight: bold;
}

.education-header h4 {
    margin: 5px 0;
    font-size: 1em;
    color: #888;
}

.education p {
    margin: 5px 0;
}

/* Certificaciones */
.certifications-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.certification-item {
    background: #f9f9f9;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certification-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.certification-item i {
    font-size: 2.5em;
    color: #0073b1;
    margin-bottom: 10px;
}

.certification-item p {
    margin: 5px 0;
    font-size: 1em;
    color: #333;
}

.cert-source {
    font-size: 0.9em;
    color: #666;
    font-style: italic;
}

/* Idiomas */
.cv-section p {
    font-size: 1em;
    color: #555;
    margin: 5px 0;
}
